{% extends "layout.html" %}

<!-- Big thank you to OP for all the information (contact details have been changed for privacy reasons) -->
{% block search %}

    <div class="row ">
        <div class="col-12 mt-2 mb-2 pt-2 pb-2">
            <h3 class="text-center">Obec překladatelů</h3>
            <p class="text-break pt-2">
                Obec překladatelů (OP) sdružuje překladatele krásné literatury i teoretiky,
                kritiky a historiky zabývající se překladem. Jejím posláním je hájit práva, 
                prosazovat profesní zájmy členů a dbát o úroveň a prestiž překladu v české literatuře.
                Obec překladatelů je členem CEATL (Evropské rady asociací literárních překladatelů), kde má svého zástupce.
            </p>
            <ul class="list-group list-group-flush pt-2">
                <li class="list-group-item list-group-item-light">
                    <strong>Web:</strong> <a href="http://obecprekladatelu.cz" target="_blank">www.obecprekladatelu.cz</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <strong>E-mail:</strong> <a href="mailto:info@obecprekladatelu.cz">info@obecprekladatelu.cz</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <strong>Adresa:</strong> Pod Nuselskými schody 3, Praha 2 120 00 
                </li>
                <li class="list-group-item list-group-item-light">
                    <strong>Kontaktní osoby:</strong><br> 
                    Anežka Charvátová, <a href="mailto:nezour@seznam.cz">nezour@seznam.cz</a> (Předsedkyně OP — španělština aj.)<br>
                    Lukáš Novák, <a href="mailto:lukas.novak@litigocommunications.cz">lukas.novak@litigocommunications.cz</a> (Místopředseda OP — angličtina)</li>
            </ul>
        </div>
    </div>

{% endblock %}
