{% extends "layout.html" %}

{% block search %}

    <div class="row ">
        <div class="col-12 mt-2 mb-2 pt-2 pb-2">
            <h3 class="text-center">Zásady ochrany osobních údajů</h3>
            <p class="pt-2">
                <h5 class="pt-2">§ 1</h5>
                Databáze překladatelů vychází z veřejně přístupných zdrojů a respektuje autorské právo.
                <br>
                <h5 class="pt-2">§ 2</h5>
                Veškeré uživatelské účty jsou zřízeny na základě členství v Obci překladatelů. Nad údaji ve svém účtu
                mají jednotlivý uživatelé plnou kontrolu.
                <br>
                <h5 class="pt-2">§ 3</h5>
                Pokud jste autorem překladu a nepřejete si být uvedeni v databázi překladatlů na adrese www.opdatabase.cz,
                požádejte o vymazání na e-mailové adrese vymaz@opdatabase.cz. 
            </p>
        </div>
    </div>

{% endblock %}
