{% extends "layout.html" %}

{% block search %}

    <form class="mx-auto w-25 pt-3 pb-3" action="/" method="post">
        <div class="mt-3">
            <label for="login_username" class="form-label">Jméno</label>
            <input name="login_username" type="text" class="form-control" id="login_username" placeholder="Jméno..." required>
        </div>
        <div class="mt-3">
            <label for="login_password" class="form-label">Heslo</label>
            <input name="login_password" type="password" class="form-control" id="login_password" placeholder="Heslo..." required>
        </div>
        <div class="mt-3 text-center">
            <a class="link-dark link-opacity-50 link-underline-opacity-50" href="/reset_pass">Zapomněli jste heslo?</a>
        </div>
        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-outline-dark">
                Přihlásit
            </button>
        </div>
    </form>

{% endblock %}
