{% extends "layout.html" %}

{% block search %}

    <div class="row ">
        <div class="col-12 mt-2 mb-2 pt-2 pb-2">
            <h3 class="text-center">Můj medailon</h3>
            <img class="rounded border border-dark border-2 d-block mx-auto w-25 mt-3" src="../static/avatars/{{ photo }}" alt="Avatar">
                <form action="/my_bio" method="post" class="pt-2" enctype=multipart/form-data>
                    <div class="mt-3">
                        <label for="login_name" class="form-label">Jméno</label>
                        <input name="login_name" type="text" class="form-control" id="login_name" placeholder="{{ name }}" disabled>
                    </div>
                    <div class="mt-3">
                        <label for="avatar" class="form-label">Fotografie:</label>
                        <input class="form-control" type="file" name="avatar"
                        data-bs-toggle="tooltip" data-bs-placement="left" 
                        title="Fotografie musí být ve formátu .jpg, .jpeg nebo .png a bude při zachování poměru stran zmenšena na šířku 250px.">
                      </div>
                    <div class="mt-3">
                        <label for="bio" class="form-label">Medailon</label>
                        <textarea name="bio" class="form-control" rows="5" id="bio">{{ bio }}</textarea>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-outline-dark">
                            Změnit
                        </button>
                    </div>
                </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- Bootstrap script to show tooltips -->
    <script src="../static/tooltips.js"></script>

{% endblock %}